<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="Keywords" content="" />
		<meta name="descriotion" content="" />
		<!-- 网页的标题 -->
		<title>SSAdmin控制台</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	</head>
        <!--frameset位置-->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

            <frameset rows="78px,*" noresize="noresize">
                <frame src="/templates/header.html" />
                <frameset cols="220px,*" noresize="noresize">
                        <frame src="/templates/left.html" noresize="noresize" />
                        <frame src="/templates/port_info.html" name="showframe" />
                </frameset>
            </frameset>

</html>
